.posi-song{
    position: relative;
}
.allwidth{
    position: absolute;
    top: 0px;
    left: 300px;
    margin: 0 auto;
    height: 900px;
    overflow: hidden;
}
.wordSong{
    width: 100%;
    height: 25px;
    line-height: 25px;
    margin: 0;
    margin: 5px;
}
.bag-img img{
    width: 900px;
    opacity: .5;
}
#audio{
    width: 64px;
    position: absolute;
    top: 2px;
    right: 0px;
    z-index: 95;
}   
.posi-change{
    position: absolute;
    top: 0;
    left: 0;
}  
.posi-change img{
    opacity: 1;
}  
